###########################
### backup shit         ###
###########################
*~
*.bak
~*
*.zip

###########################
### build artifacts     ###
###########################
output

###########################
### Windows shit        ###
###########################
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk

###########################
### Altium shit         ###
###########################
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews
History
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$
Project\ Logs
Project Outputs for*

############################
### Hyperlynx Simulation ###
############################

#Exports, but not manual ones
exports/*
!exports/manual

###########################
### Python shit         ###
###########################
__pycache__
*.pyc