{% extends "index/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="changeuserid" value={{ changeuserid }}>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password change for {{ changeusername }}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Set Password</button>
            </div>
        </form>
    </div>
{% endblock content %}