{% extends "index/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Username: {{ customusername }}</h2>
          <br/>
          <p class="text-secondary">Permissions: </p>
          <p class="text-secondary">
              {% for permission in customuserpermissions %}
                  {{permission}} <br />
              {% endfor %}
          </p>
        </div>
        </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}
